@using Raydreams.Common.Services.Model

@model List<ContentHeader>

<h4>@ViewData["Title"]</h4>

<ol>
    @foreach (ContentHeader pg in Model)
    {
        <li><a asp-controller="CMS" asp-action="Page" asp-route-path="@pg.Path">@pg.Title</a></li>
    }
</ol>