@using Raydreams.Common.Services.Model

@model ContentPage

<h2>@Model.Locales[0].Title</h2>

<div><img src="@Model.Media?.Banner"></div>

@foreach (ContentSection sec in Model.Locales[0].Sections)
{
    @if ( Model.Locales[0].Sections.Count > 1)
    {
        <div>@Html.Raw(sec.Title)</div>
    }
    <div>
        @Html.Raw(sec.Content)
    </div>
}
