@{
    ViewData["Title"] = "Home";
}

    <div>
        <p>Just some of the things we can help you with include:</p>

        <ul>
            <li>Custom mobile application development for iOS and Android - native and cross platform.</li>
            <li>Assisting in the app store release process for both public and internal/enterprise apps.</li>
            <li>Custom Desktop application development for macOS and Windows.</li>
            <li>Custom web application development using API architecture so that all client types utilize the same code.</li>
            <li>Software Platform design and architecture using serverless cloud based APIs.</li>
            <li>Azure setup and administration.</li>
            <li>Automating Business tasks with Azure Logic Apps and Microsoft Flow.</li>
            <li>In-house and 3rd party data integration (and transformation) via batch files, APIs and SDKs.</li>
            <li>Logical Data Modeling and physical datastore design and documentation.</li>
            <li>Assisting in Development Operations (DevOps) management - best practices, tools and processes.</li>
            <li>Assisting in Business Process design, development and automation.</li>
            <li>Migrating legacy apps to modern technologies.</li>
        </ul>
    </div>
