<div class="h4 rayTitle">Board Builder</div>

<p>Board Builder started out as an idea for another app, but if people find it useful I'll keep adding more features. Feel free to send your request or feedback though my above Facebook or Instagram page.</p>

<p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Nbt8aB8rzU0" frameborder="0" allowfullscreen></iframe>
</p>

<ol>
    <li>Define up to a 50 by 50 hexgrid.</li>
    <li>Set the size of the hexes and outline thickness.</li>
    <li>Set the base hex color and outline colors.</li>
    <li>Toggle numbering each hex.</li>
    <li>Specify a custom color for any hex.</li>
    <li>Set the border color and size</li>
    <li>Export as a PNG or PDF</li>
</ol>

<p><a href="https://itunes.apple.com/us/app/board-builder/id1268327097"><img src="~/images/AppStoreBadge.png" width="200px" /></a></p>

<p>&copy; Board Builder is entirely developed and owned by TAG Digital Studios &amp; Tag Guillory.</p>
