@using Raydreams.Web.Extensions
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Html

<script type="text/javascript">

    //var controller = null;
    var proxyURL = '@ViewData["API"]';

    var recaptchaOnloadCallback = null;

    var isCaptcha = false;

    var clientIP = '';

    /* some text */
    jQuery(document).ready(function () {

        //controller = new JSONGateway('@ViewData["API"]', false);

        jQuery('#alert').hide();

        //jQuery.getJSON("https://api.ipify.org/?format=json", function (e) {
        //    clientIP = e.ip;
        //});

        clientIP = jQuery("#ipField").val().trim();

        // set the recaptcha callback funtion
        recaptchaOnloadCallback = function () {
            grecaptcha.render('recaptcha', {
                'sitekey': '6LdgA9kUAAAAAHffKLON2x-_TSGFmgs-7q7thDrr',
                'callback': verifyRecaptcha,
            });
        };

        jQuery("#nameField").on('input',function (sender) {
            validate(sender);
        });
        jQuery("#emailField").on('input',function (sender) {
            validate(sender);
        });
        jQuery("#msgField").on('input',function (sender) {
            validate(sender);
        });
    });

    /* send the email */
    function doSend(sender) {
        var msg = jQuery("#msgField").val().trim();
        var email = jQuery("#emailField").val().trim();
        var name = jQuery("#nameField").val().trim();

        if (isEmpty(email) || isEmpty(name) || isEmpty(msg)) { alert('All fields are required!'); return false; }

        if ( !isCaptcha )
        {
            alert('You must prove you are a human.');
            return false;
        }

        axios({
            method: "post",
            url: proxyURL + 'Home/SendFeedback',
            data: { 'email': email, 'name': name, 'msg': msg, 'ip': jQuery("#ipField").val().trim() }
        }).then(emailSent);

        //controller.postJsonAjax('Home/SendFeedback', emailSent, { 'email': email, 'name': name, 'msg': msg, 'ip': clientIP });
    }

    /* async callback after the email is sent */
    function emailSent(resp) {
        //alert(result);
        jQuery('#alert').show();
        jQuery("#msgField").val("");
        jQuery("#emailField").val("");
        jQuery("#nameField").val("");
        //jQuery("#captchaField").val("");

        jQuery('#submitButton').attr("disabled", true);
    }

    /* verify recaptcha */
    function verifyRecaptcha(response) {

        axios({
            method: "post",
            url: proxyURL + 'Home/Recaptcha',
            data: {
                'token': response,
                'ip': jQuery("#ipField").val().trim()
            }
        })
            .then( function (resp) {

                /* set the values on callback */
                isCaptcha = resp.data.verified;

                /* validate */
                validate( jQuery('#recaptcha') );
            })
            .catch( function (error) {
                alert('Captcha failed:' + error, 'Error');
            });
    };

    /* validates the entire form again */
    function validate(sender)
    {
        if (jQuery('#nameField').val().length < 1)
            return false;

        if (jQuery('#emailField').val().length < 1)
            return false;

        if (jQuery('#msgField').val().length < 1)
            return false;

        if (!isCaptcha)
            return false;

        jQuery('#submitButton').removeAttr("disabled");

        return true;
    }

    /* some text */
    function fillTest(sender) {
        jQuery("#msgField").val("This is yet another test message to test the forms to make sure it works.");
        jQuery("#emailField").val("tguillory@bouncingpixel.com");
        jQuery("#nameField").val("Bubba Joe");
    }

</script>

<div class="h4 rayTitle">Contact Me</div>

<p>Have a question, a request, leave some feedback or ask for my help.</p>

<div id="alert" class="alert alert-warning" role="alert">
    <strong>Sent!</strong> Thanks for your inquiry. We will be with you shortly.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form>
    <div class="form-group form-inline">
        <label>Name</label>&nbsp;:&nbsp;<input id="nameField" name="nameField" placeholder="What should I call you?" maxlength="255" type="text" class="form-control" style="width:250px" />
    </div>
    <div class="form-group form-inline">
        <label>Email</label>&nbsp;:&nbsp;<input id="emailField" name="emailField" placeholder="bubba@someplace.com" maxlength="255" type="text" class="form-control" style="width:250px" />
    </div>
    <div class="form-group">
        <textarea class="form-control" id="msgField" rows="10" placeholder="What would you like to tell me?" style="width:500px"></textarea>
    </div>
    @*<div class="form-group form-inline">
            <label>What's 3 MINUS 2?</label>&nbsp;:&nbsp;<input id="captchaField" name="captchaField" placeholder="Prove you are a Human?" maxlength="255" type="text" class="form-control" style="width:250px" />
        </div>*@
    <div id="recaptcha" class="form-group form-inline"></div>
    <div class="form-group">
        <input type="hidden" id="ipField" name="ipField" value='@ViewData["ClientIP"]'>
        <button id="submitButton" type="button" onclick="doSend(this)" class="btn btn-secondary" disabled>Send It</button>
        @{
            if (ViewData["API"].ToString().Contains("localhost"))
            {
                <input type="button" onclick="fillTest(this)" value="Fill Test" class="btn btn-default" />
            }
        }


    </div>
</form>

<script src="https://www.google.com/recaptcha/api.js?onload=recaptchaOnloadCallback&render=explicit" async defer></script>

