<div class="h4 rayTitle">Terms of Use, Disclaimer and Privacy Policy</div>

<p>Marker Match is fully owned by the provider, TAG Digital Studios. You are permitted to use Marker Match if you agree to terms of this license. If you do not agree, please remove it from your device immediately. Marker Match does not collect any information at all about its users. All app data is only saved locally on the device in which it runs unless you explicitly back it up to another location such as your iCloud account. Marker Match does not access the GPS, location services or microphone on your device. Marker Match does not connect with any social media sites or any other web sites. Marker Match does not serve ads of any kind in the app. Marker Match does not track users.</p>

<ol>
    <li>You agree that Marker Match and all the source contained within (except where the third party license is left in place) is fully owned by TAG Digital Studios, and by doing so you will never lay any claim to Marker Match or its source code.</li>
    <li>You agree you will never redistribute Marker Match either for free or for in exchange for money and/or services.</li>
    <li>You agree you will only install Marker Match through the proper legal channels, and in this case, the app store operated by Apple.</li>
    <li>You understand that the use of any software bears the responsibility of keeping it up to date to the latest version, and that the use of any software carries some risks of viruses or loss of data, and that failure to use the latest version may pose a risk.</li>
    <li>You agree you will never hold TAG Digital Studios or its developers liable for any damage to your device or the loss of any data.</li>
    <li>You are solely responsible for determining if Marker Match is fully compatible with your device.</li>
    <li>You are solely responsible for backing up your device to avoid the loss of data.</li>
    <li>You agree that Marker Match may send bug reports anonymously to the developers to help improve the stability and security of Marker Match. These reports will never include personal information and only includes the OS version, Marker Match version and type of device.</li>
    <li>You agree that NO warranty is provided for Marker Match.</li>
    <li>You agree that the TAG Digital Studios may at any time choose to stop adding new features and versions but that you are always free to use the last version made available on the app store. You also understand that Apple may remove Marker Match from the app store should it ever become abandoned.</li>
    <li>You understand that the color data used for each product item is based on publicly available data and that neither TAG Digital Studios or the owners of the respective products have verified the accuracy of the digital color value. Also, you understand that digital color can never truely represent variations in the real world and calculations are purely a proximity measurement.</li>
    <li>You understand that a lot of time and effort went into collecting the data in Marker Match's database and you will not export, reuse or distribute the database without prior written consent from TAG Digital Studios.</li>
    <li>You understand that TAG Digital Studios has received no payment or endorsement from the owners of the included product lines. Product lines are chosen purely on the availability of data as well as requests from users.</li>
</ol>

<p>Every effort has been made to make Marker Match as bug free and as compatible as possible. However, you should report any bugs to TAG Digital Studios through the following website.</p>

<h4>TAG Digital Studios</h4>

<p>You can contact me through the <a class="" asp-area="" asp-controller="Home" asp-action="Contact">feedback form</a>.</p>

<p>TAG Digital Studios welcomes all feedback regarding Marker Match including bugs, feature requests and constructive criticism. If you believe the color value in Marker Match is significantly different than it is in the real world, please let us know.</p>

<p>Finally, Marker Match and TAG Digital Studios lay no claim to the products or items referenced in the Maker Match database, and that trademarks are held by their respective companies. Color information used by Marker Match is publicly available. Copic is owned by Too International. Prisma is owned by Newell Brands. Faber Castell Polychromos are owned by Faber Castell. Spectrum Noir is owned by Crafter's Companion Ltd. Tria is owned by Letraset. ProMarkers are owned by Winsor &amp; Newtown. Touch Twin is owned by ShinHan Art Materials Inc. Blick BrushMarkers are owned by Dick Blick Art Materials. Tombrow Dual Brush Markers are owned by Tombrow USA.</p>
