<link rel="stylesheet" media="screen" type="text/css" href="~/lib/air-datepicker/css/datepicker.min.css" />
<script type="text/javascript" src="~/lib/air-datepicker/js/datepicker.js"></script>
<!-- Include English language -->
<script type="text/javascript" src="~/lib/air-datepicker/js/i18n/datepicker.en.js"></script>

<script type="text/javascript">

    // ajax controller
    // var controller = null;
    var proxyURL = '@ViewData["API"]';

    /* page load */
    jQuery(document).ready( function () {

        //controller = new JSONGateway('@ViewData["API"]', false);

        /* setup the color picker */
        jQuery('#bdayField').datepicker({ language: 'en', autoClose: true } );
    });

    /* fill out the form with dummy data */
    function doFillForm(sender) {

        jQuery('#fnameField').val('Jobe');
        jQuery('#lnameField').val('Knottingly');
        jQuery('#emailField').val('jobe@gmail.com');
        jQuery('#ssnField').val('123-45-6789');
        jQuery('#dlnoField').val('99001234');
        jQuery('#bdayField').val('12/31/1999');
        jQuery("#gendermRadio").attr("checked", true);
        jQuery("#colorMenu").val("blue");
    }

    /* send the color to the backend */
    function doEncryptForm(sender)
    {
        var fields = [];

        if (jQuery('#fnameEncrypt').is(":checked"))
            fields.push("fname");
        if (jQuery('#lnameEncrypt').is(":checked"))
            fields.push("lname");
        if (jQuery('#emailEncrypt').is(":checked"))
            fields.push("email");
        if (jQuery('#ssnEncrypt').is(":checked"))
            fields.push("ssn");
        if (jQuery('#dlnoEncrypt').is(":checked"))
            fields.push("dlno");
        if (jQuery('#bdayEncrypt').is(":checked"))
            fields.push("bday");
        if (jQuery('#genderEncrypt').is(":checked"))
            fields.push("gender");
        if (jQuery('#colorEncrypt').is(":checked"))
            fields.push("color");

        /* fill the data */
        var data = {};

        data.fname = jQuery('#fnameField').val();
        data.lname = jQuery('#lnameField').val();
        data.email = jQuery('#emailField').val();
        data.ssn = jQuery('#ssnField').val();
        data.dlno = jQuery('#dlnoField').val();
        data.bday = jQuery('#bdayField').val();
        data.gender = ( jQuery('#gendermRadio').is(":checked") ) ? "m" : "f";
        data.color = jQuery('#colorMenu').val();

        axios({
            method: "post",
            url: proxyURL + 'Home/EncryptForm',
            data: { 'name': 'TestForm', 'fields': fields, 'formData': data }
        }).then(callback);

        //controller.postJsonAjax('Home/EncryptForm', callback, { 'name':'TestForm', 'fields': fields, 'formData': data } );
    }

    /* callback func */
    function callback(resp) {
        var result = resp.data;

        if (resp.status == 200 && result.statusCode == 200) {
            data = result.data.resultObject;
            //alert(JSON.stringify(data));
            jQuery('#outputField').text(JSON.stringify(data));
        }
        else { alert(result.statusCode) }
    }

</script>

<h3>Encrypt Form Test</h3>

<div>Check off which fields to encrypt. Use <b>Fill It</b> to enter some bogus data.</div>

<form>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="fnameField">First Name</label>
        <div class="col-sm-1">
            <input class="form-check-input" type="checkbox" id="fnameEncrypt">
        </div>
        <div class="col-sm-7">
            <input class="form-control" type="text" data-fieldName="fname" id="fnameField" placeholder="first name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="lnameField">Last Name</label>
        <div class="col-sm-1">
            <input class="form-check-input" type="checkbox" id="lnameEncrypt">
        </div>
        <div class="col-sm-7">
            <input class="form-control" type="text" id="lnameField" placeholder="last name">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="emailField">Email address</label>
        <div class="col-sm-1">
            <input class="form-check-input" type="checkbox" id="emailEncrypt">
        </div>
        <div class="col-sm-7">
            <input type="email" class="form-control" id="emailField" placeholder="name@example.com">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="ssnField">SSN#</label>
        <div class="col-sm-1">
            <input class="form-check-input" type="checkbox" id="ssnEncrypt">
        </div>
        <div class="col-sm-7">
            <input class="form-control" type="text" id="ssnField" placeholder="123-45-6789">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="dlnoField">DL#</label>
        <div class="col-sm-1">
            <input class="form-check-input" type="checkbox" id="dlnoEncrypt">
        </div>
        <div class="col-sm-7">
            <input class="form-control" type="text" id="dlnoField" placeholder="11001234">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="bdayField">Birthdate</label>
        <div class="col-sm-1">
            <input class="form-check-input" type="checkbox" id="bdayEncrypt">
        </div>
        <div class="col-sm-7">
            <input class="form-control" type="text" id="bdayField" placeholder="mm/dd/yyyy">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="genderField">Gender</label>
        <div class="col-sm-1">
            <input class="form-check-input" type="checkbox" id="genderEncrypt">
        </div>
        <div class="col-sm-7">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genderField" id="gendermRadio" value="m">
                <label class="form-check-label" for="inlineRadio1">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genderField" id="genderfradio" value="f">
                <label class="form-check-label" for="inlineRadio2">Female</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="colorMenu">Favorite Color</label>
        <div class="col-sm-1">
            <input class="form-check-input" type="checkbox" id="colorEncrypt">
        </div>
        <div class="col-sm-7">
            <select class="form-control" id="colorMenu">
                <option value="white">White</option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="yellow">Yellow</option>
                <option value="black">Black</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="button" onclick="doEncryptForm(this)" class="btn btn-primary">Submit</button>
            &nbsp;
            <button type="button" onclick="doFillForm(this)" class="btn btn-secondary">Fill It</button>
        </div>
    </div>
</form>

<div>
    <textarea id="outputField" class="form-control" rows="8" placeholder="encrypted output"></textarea>
</div>

