<div class="h4 rayTitle">Marker Match</div>

<p>Download <a href="https://itunes.apple.com/us/app/marker-match/id1155851925">Marker Match v1.3.0</a> from the iTunes Store.</p>

<p>Instructional video to Marker Match v1.1.0</p>
<p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/UusTM_kma08" frameborder="0" allowfullscreen></iframe>
</p>

<p style="margin-top:10px;">Marker Match is a iPhone utility app for marker and colored pencil artists to help them find the closets matching marker colors to one they want. You can also use it to keep a list of markers you already own as well as ones you want to get for your next project.</p>

<p style="margin-top:10px;">Marker Match is completely free to use with no ads at all. I have lots of ideas for more features so if you like and use Marker Match, please support future development by giving it a nice review on the iTunes Store. You can leave me feedback through the Facebook page including bug reports or product lines you'd like included.</p>

<p style="margin-top:10px;">Tons of popular marker product lines are included:</p>
<ol>
    <li>Copic Sketch</li>
    <li>Copic Ciao</li>
    <li>Copic Classic</li>
    <li>Copic Wide</li>
    <li>Prismacolor Premier Chisel</li>
    <li>Prismacolor Premier Brush</li>
    <li>Prismacolor Premier Softcore</li>
    <li>Faber-Castell Polychromos</li>
    <li>Spectrum Noir Markers</li>
    <li>Touch Twin Markers</li>
    <li>Touch Twin Brush Markers</li>
    <li>Tombrow Brush Markers</li>
    <li>Letraset Tria</li>
    <li>Winsor & Newton BrushMarker</li>
    <li>Winsor & Newton ProMarker</li>
    <li>Blick Brush Markers</li>
    <li>Zig Brush Markers</li>
</ol>

<p><a class="" asp-area="" asp-controller="Home" asp-action="Disclaimer">Marker Match Terms of Use, Disclaimer and Privacy Policy</a></p>

<p>&copy; Marker Match is entirely developed and owned by TAG Digital Studios &amp; Tag Guillory.</p> 